.animated {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fade-in;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-out {
    animation-name: fade-out;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(0.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation-name: fade-in-up;
}

@keyframes simple-zoom-in-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
