.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    pointer-events: none;
    position: relative;
    top: -0.0625em;
    vertical-align: middle;
    width: 1em;
}

.icon--md {
    height: 1.25em;
    width: 1.25em;
}

.icon--stroke {
    fill: none;
    stroke: currentColor;
}
