/**
 * Sass related CSS.
 */

// Margins and widths.
$site-max-width: 120em;         // Max width for the whole site, nothing goes over this, 1920px
$container-width: 85em;         // Default container, 1208px
$container-width--medium: 50em; // Medium container for basic text etc, 797px

// Settings for fluid stuff
$fluid-min-vw: 20rem;
$fluid-max-vw: 160rem;
@import "../02-tools/fluid-functions";

// Typography settings.
$text-styles: (
    text-300: (
        font-family: var(--font-family-base),
        font-size: var(--text-300),
        line-height: var(--line-height-body),
    ),
    text-310: (
        font-family: var(--font-family-base),
        font-size: var(--text-300),
        line-height: var(--line-height-body),
        font-weight: 500,
    ),
    text-320: (
        font-family: var(--font-family-base),
        font-size: var(--text-300),
        line-height: 1.4,
        font-weight: 500,
        text-transform: uppercase,
    ),
    text-400: (
        font-family: var(--font-family-base),
        font-size: var(--text-400),
        line-height: 1.4,
    ),
    text-410: (
        font-family: var(--font-family-base),
        font-size: var(--text-400),
        line-height: 1.4,
        font-weight: 500,
    ),
    text-420: (
        font-family: var(--font-family-base),
        font-size: var(--text-400),
        line-height: 1.4,
        font-weight: 500,
        text-transform: uppercase,
    ),
    text-500: (
        font-family: var(--font-family-base),
        font-size: var(--text-500),
        line-height: var(--line-height-body),
    ),
    text-510: (
        font-family: var(--font-family-base),
        font-size: var(--text-500),
        line-height: var(--line-height-body),
        font-weight: 600,
    ),
    text-520: (
        font-family: var(--font-family-heading),
        font-size: var(--text-500),
        line-height: 1.4,
        font-weight: 500,
        letter-spacing: 0.0125em,
        text-transform: uppercase,
    ),
    text-600: (
        font-family: var(--font-family-base),
        font-size: var(--text-600),
        line-height: 1.4,
    ),
    text-610: (
        font-family: var(--font-family-base),
        font-size: var(--text-600),
        line-height: 1.4,
        font-weight: 500,
    ),
    heading-600: (
        font-family: var(--font-family-heading),
        font-size: var(--heading-600),
        line-height: var(--line-height-heading),
        font-weight: 700,
    ),
    heading-500: (
        font-family: var(--font-family-heading),
        font-size: var(--heading-500),
        line-height: var(--line-height-heading),
        font-weight: 700,
    ),
    heading-400: (
        font-family: var(--font-family-heading),
        font-size: var(--heading-400),
        line-height: var(--line-height-heading),
        font-weight: 700,
    ),
    heading-300: (
        font-family: var(--font-family-heading),
        font-size: var(--heading-300),
        line-height: 1.3,
        font-weight: 700,
    ),
    heading-200: (
        font-family: var(--font-family-heading),
        font-size: var(--heading-200),
        line-height: 1.4,
        font-weight: 700,
    ),
);

$breakpoints: (
    max: $site-max-width,    // The whole site
    large: $container-width, // Basic container
    navigation: 75em,        // Navigation depends on the project
    medium-large: 55em,      // Bigger tablet size
    medium: 48em,            // Small tablet size: 768px
    small: 26em              // Phone size: 416px
);
