.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    /**
     * Many screen reader and browser combinations announce broken words
     * as they would appear visually.
     */
    word-wrap: normal !important;

    &:focus {
        background-color: var(--color-grey-black);
        clip: auto !important;
        clip-path: none;
        color: var(--color-grey-white);
        display: block;
        font-weight: 700;
        height: auto;
        margin: 0;
        padding: 0.75rem;
        left: 0.5rem;
        top: 0.5rem;
        text-decoration: none;
        width: auto;
        /* Above WP toolbar. */
        z-index: 100000;
    }
}

/*
 * Resources on prefers-reduced-motion:
 * https://webkit.org/blog-files/prefers-reduced-motion/prm.htm
 * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
 */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.001s !important;
        transition-duration: 0.001s !important;
    }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}
