.has-text-align-center {
    text-align: center;
}

.has-text-align-left {
    text-align: left;
}

.has-text-align-right {
    text-align: right;
}

.aligncenter {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
